.contact {
    padding: 20px;
    place-items: center;
    width: 50%;
    height: 50%;
    margin-top: 120px;
    margin-left: 270px;
    margin-bottom: 50px;
    color: antiquewhite;
    background-color: #33475B;
  }