*, *::before, *::after {
    margin: 0;
}
.caps {
  padding: 20px;
  background-color: rgba(101, 44, 155, 0.884);
  display: grid;
  position: relative;
  place-items: center;
  width: 50%;
  padding-top: 50px;
  
}
p{
    text-decoration-color: rgb(61, 42, 165);
}
