*, *::before, *::after {
    margin: 0;
}
.caps {
  padding: 20px;
  background-color: #33475B;;
  display: grid;
  position: relative;
  place-items: center;
  width: 60%;
  height: 40%;
  padding-top: 50px;
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
}
