*, *::before, *::after {
  margin: 0;
}
.footer {
position: fixed;
 left: 0;
 bottom: 0;
 width: 100%;
 background-color: #33475B;
 color: white;
 text-align: center;
}
.footer-social-media {
display: flex;
flex-direction: row;
justify-content: center;
margin-bottom: 0px;
}
.footer-social-media__icon {
margin: 0px 4px;
width: 25px;
height: 25px;
}
.footer-info {
  display: flex;
  justify-content: center;
}
.footer-info-left,.footer-info-center,.footer-info-right {
  font-size: 13px;
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
  width: 30%;
}
.footer-info__name,.footer-info__email,.footer-info__number {
  margin-bottom: 10px;
}
.footer-info__name,.footer-info__returns {
  text-align: start;
}
.footer-info__email,.footer-info__terms {
  text-align: center;
}