.homee {
  padding: 20px;
  display: grid;
  position: fixed;
  place-items: center;
  width: 40%;
  height: 40%;
  right: 105px;
  margin-top: 120px;
  margin-left: 470px;
  color: antiquewhite;
  background-color: #33475b;
}
