*, body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;	
}

.form-holder {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
}

.form-holder .form-content {
    position: relative;
    text-align: center;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 50px;
}

.form-content .form-items {
    border: 2px solid #fff;
    padding: 100px;
    display: inline-block;
    width: 100%;
    min-width: 540px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: left;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
	background-color: #33475B;
	opacity: 0.9;
}

.form-content h3 {
    color: #fff;
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 5px;
}

.form-content input[type=text], .form-content input[type=number], .form-content select {
    width: 65%;
    padding: 15px 20px 10px 10px;
    text-align: center;
    border: 0;
    outline: 0;
    border-radius: 6px;
    background-color: #fff;
    font-size: 15px;
    font-weight: 300;
    color: #8D8D8D;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-top: 16px;
}

.btn-success, .btn-danger{
    outline: none;
    border: 0px;
    box-shadow: none;
	margin-right: 15px;
	width: 30%;
}

.btn-success:hover, .btn-success:focus, .btn-success:active{
    outline: none !important;
    border: none !important;
    box-shadow: none;
}
.welcome-message{
    border-radius: 10px;
    width: 80%;
    height: 30%;
    text-decoration: solid;
    font-size: large;
    text-align: center;
    margin-bottom: 10px;
}