body { background-image: url("/home/ndakala/Downloads/rubyprojects/phase-3-project/images/towfiqu-barbhuiya-jOeh3Lv88xA-unsplash.jpg"); 
  background-size: 100vw auto;
background-size: 100%;
background-size: cover;

}